<!-- <div class="navbar "></div>

<div class="sidebar expand">
  <app-navbar> </app-navbar>
</div>
<div class="p-3">
  asd
</div> -->
<router-outlet></router-outlet>
<!-- 
<div id="body-content" class="main-content h-100" [ngClass]="!(isShowNavbar$ | async) ? 'expanded' : ''">
  <div class="page--warpper">
    <div class="page--container pt-2">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer-panel shadow-sm bg-white" [ngClass]="!(isShowNavbar$ | async) ? 'expanded' : ''">
      <div class="py-2 px-3 h-100 w-100 d-flex justify-content-between" style="align-items: center">
        <div class="col-6">{{year | date:'YYYY'}}© Indigy </div>
        <div class="col-6 text-end">Version {{version}}</div>
      </div>
    </footer>
  </div>
</div> -->
