<div class="form-group">
  <div class="row" [class]="to['formContainerClass']">
    <div
      *ngIf="!to['noLabel']"
      class="col-form-label fw-semibold"
      [ngClass]="to['required'] ? 'required' : ''"
      [class]="to['labelContainerClass']"
      [innerHTML]="to['label'] || '&nbsp;'"
     
    ></div>
    <div [class]="to['inputContainerClass']">
      <input
        *ngIf="!loading.isLoading || loading.request?.method != 'GET'"
        class="form-control form-control-solid"
        [class]="to['class']"
        [formControl]="formControl"
        [formlyAttributes]="field"
        [imask]="to['imask']"
        [pattern]="to['pattern'] ? to['pattern'] : ''"
        [type]="to['type']"
        [maxlength]="to['maxlength']"
        [minlength]="to['minlength']"
      />
      <!-- <small *ngIf="to['maxlength'] && formControl" class="my-2 float-end">{{formControl.value.length}} / {{to['maxlength']}}</small> -->
      <ngx-skeleton-loader
        *ngIf="
          loading.isLoading &&
          loading.isShowLoading &&
          loading.request?.method == 'GET'
        "
        count="1"
        appearance="line"
        class="formControl"
        [theme]="{ height: '33px' }"
      ></ngx-skeleton-loader>
      <div>
        <div class="form-text" [ngClass]="to['helperText'] ? 'd-block' : ''">
          {{ to["helperText"] }}
        </div>
        <div class="invalid-feedback" [ngClass]="showError ? 'd-block' : ''">
          <formly-validation-message
            [field]="field"
          ></formly-validation-message>
        </div>
      </div>
    </div>
    <div 
      *ngIf="to['currencyText']"
      class="p-2"
      [class]="to['currencyContainerClass']"
      [innerHTML]="to['currencyText']"
    ></div>
  </div>
</div>
