.lds-default {
  display: inline-block;
  position: relative;
  // width: 80px;
  // height: 80px;

  //   position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fade-out {
  animation: fadeout 1.2s both;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
