.form-container {
  -webkit-transition: 500ms linear !important;
  -moz-transition: 500ms linear !important;
  -ms-transition: 500ms linear !important;
  -o-transition: 500ms linear !important;
  transition: 500ms linear !important;
}
